/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 40px;
  gap: 8px;
  height: 40px;
}

.form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 23px;
  padding: 8px 12px;
}

.form > label > input:hover {
  border-color: #000;
}

.form > button {
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 91px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}

.form > button:hover {
  background-color: #6c8cff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 0px;
  list-style: none;
}

.gallery-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery-item a {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  padding: 10px;
  font-size: 14px;
  line-height: 1.4;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  text-align: center;
}
